<section>
  <h1>About Me</h1>
  <p><a href="https://plus.google.com/115669497324630841356/" title="Evan on Google+" rel="author"><img id="profile-image" src="{% gravatar_image %}" alt="Gravatar of thaddeusmt"  /></a>My name is Evan Johnson. I'm a software developer from Montana, who spent some time in Nebraska. I'm the chief software architect at <a href="http://splashlabsocial.com">SplashLab Social</a>, but I am blogging here on my old freelance web design URL for fun. I hope you find something useful here, thanks for visiting! Cheers</p>
</section>