{% if site.twitter_user %}
<section>
  <h1>Latest Tweets</h1>
    <p>
    {% if site.twitter_follow_button %}
    <a href="http://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
    {% else %}
    <p>Follow <a href="http://twitter.com/{{site.twitter_user}}">@{{ site.twitter_user }}</a></p>
    {% endif %}
    <a class="twitter-timeline" href="https://twitter.com/{{ site.twitter_user }}" data-widget-id="400042347972395008"
       data-link-color="#750000" height="300" data-chrome="noheader transparent" lang="EN">Tweets by @{{ site.twitter_user }}</a>
    </p>
</section>
{% endif %}
