#DirectoryIndex index.php index.html

# supress php errors
# php_flag display_startup_errors off
# php_flag display_errors off
# php_flag html_errors off
# php_value docref_root 0
# php_value docref_ext 0

#Options +FollowSymLinks
#Options -Indexes

# <IfModule mod_rewrite.c>
#	RewriteEngine On
#	#RewriteBase /relative/web/path/
#
#	RewriteCond %{REQUEST_FILENAME} -f [OR]
#	RewriteCond %{REQUEST_FILENAME} -d
#	RewriteRule ^(.+) - [PT,L]

	# Everything else should go through Textpattern
#	RewriteRule ^(.*) index.php

#	RewriteCond %{HTTP:Authorization}  !^$
#	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]

#</IfModule>

#php_value register_globals 0

# redirect 301 /about.php http://www.chilipepperdesign.com/about
# redirect 301 /folio.php http://www.chilipepperdesign.com/portfolio
# redirect 301 /services.php http://www.chilipepperdesign.com/services
# redirect 301 /contact.php http://www.chilipepperdesign.com/contact
