// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: $page-bg url(images/background.jpg);
}
body {
	> header {
    @media only screen and (min-width: 992px) {
      float: left;
      height: 100px;
      padding-right: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
    }
	}
	> nav {
		@media only screen and (min-width: 992px) {
		  padding-left: $pad-wide;
		  padding-right: $pad-wide;
      float: right;
      padding-top: 1em;
      padding-left: 1em;
      border: 0;
		}
	}
  #main {
    @media only screen and (min-width: 992px) {
		  clear: both;
		}
  }
}
@media only screen and (min-width: 992px) {
  body { font-size: 1em; }
  h1 { font-size: 2.6em; line-height: .8em; }
}
body > header {
  background: transparent;
  padding-top: .25em;
  padding-bottom: .6em;
  overflow: hidden;
  @media only screen and (max-width: 992px) {
    padding-bottom: .4em;
  }
}
body > header h1 {
  color: #AC0505;
  //text-shadow: -1px -1px 0px #A55D6F;
  font-size: 3em;
}
body > header h1 a, body > header h1 a:visited {
  color: #AC0505;
  //-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,.6)))
}
body > header h1 a:hover {
  color: #700202;
}
body > header h2 {
  margin-top: -5px;
}
body > nav {
  background: transparent;
  @media only screen and (max-width: 992px) {
    border: 0 none; 
  }
}
#main, #content, #content .blog-index {
  @media only screen and (min-width: 992px) {
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
  }
}
aside.sidebar {
  background: #f2f2f2 url(images/sidebar.jpg) 30% 0 no-repeat;
  border-top-right-radius: .4em;
}
#profile-image {
  float: left;
  margin-right: .6em;
  width: 82px;
}
#stackoverflow-badge {
  display: block;
  padding-top: .6em;
}
ul, ol {
  margin-left: 1.3em;
}
#content {
  @extend .sans;
}
.entry-content {
  h1, h2, h3, h4, h5 {
    @extend .sans;
    border-bottom: 1px dotted #ccc;
  }
}
p, blockquote, ul, ol { margin-bottom: 1.2em; }
#content .blog-index {
  article h1 {
    a { color: $title-color; text-decoration: none;  }
  }
}
body > nav form .search {
  margin-top: 0;
  @media only screen and (min-width: 600px) {
    font-size: 1.1em;
    line-height: 1.5em;
  }
}
body > nav ul.subscription {
  margin-left: 1em;
}
pre {
  padding-bottom: .5em;
}